# Tarea 1 Bases de Datos 2023-1 Grupo 7

## Integrantes:
* Natalia Vega Quinteros - 201904501-6
* Oscar Villarroel Quezada- 2018

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [4]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (0.5.0)
Requirement already satisfied: ipython-genutils in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.0.1)
Requirement already satisfied: prettytable in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: sqlparse in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: jedi>=0.16 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.1.4)
Requirement already satisfied: black in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (21.12b0)
Requirement already satisfied: colorama in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.4.4)
Requirement already satisfied: pygments in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: backcall in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (3.0.24)
Requirement already satisfied: traitlets>=5 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (57.4.0)
Requirement already satisfied: matplotlib-inline in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.1.3)
Requirement already satisfied: wcwidth in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: platformdirs>=2 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from black->ipython->ipython-sql) (3.1.1)
Requirement already satisfied: mypy-extensions>=0.4.3 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from black->ipython->ipython-sql) (0.4.3)
Requirement already satisfied: click>=7.1.2 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from black->ipython->ipython-sql) (8.0.3)
Requirement already satisfied: tomli<2.0.0,>=0.2.6 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from black->ipython->ipython-sql) (1.2.2)
Requirement already satisfied: pathspec<1,>=0.9.0 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from black->ipython->ipython-sql) (0.9.0)
Requirement already satisfied: pure-eval in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.1)
Requirement already satisfied: executing in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.2)
Requirement already satisfied: asttokens in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)

WARNING: You are using pip version 21.3.1; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\natyv\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: psycopg2 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (2.9.5)

WARNING: You are using pip version 21.3.1; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\natyv\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: names in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (0.3.0)

WARNING: You are using pip version 21.3.1; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\natyv\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

## Importar dependencias

In [2]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [3]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:9595@localhost:5432/Tarea1_BD

env: DATABASE_URL=postgresql://postgres:9595@localhost:5432/Tarea1_BD

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [30]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='Tarea1_BD',
   password="9595"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x000002C790F9F230; dsn: 'user=postgres password=xxx dbname=Tarea1_BD host=localhost', closed: 0>

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [50]:
%%sql
CREATE TABLE facciones(
    id INT GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    PRIMARY KEY (id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
(psycopg2.errors.DuplicateTable) la relación «facciones» ya existe

[SQL: CREATE TABLE facciones(
    id INT GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    PRIMARY KEY (id)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "trabajos" (6 pts)

In [51]:
%%sql
CREATE TABLE trabajos(
    id INT GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    sueldo INT NOT NULL,
    PRIMARY KEY(id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
Done.

[]

### Tabla "personas" (6 pts)

In [52]:
%%sql
CREATE TABLE personas(
    id INT GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellidos VARCHAR(45) NOT NULL,
    fecha_nacimiento DATE NOT NULL,
    infectado BOOL NOT NULL,
    conyugue INT,
    PRIMARY KEY(id),
    FOREIGN KEY(id) REFERENCES personas(id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
Done.

[]

### Tabla "cuentas_bancarias" (6 pts)

In [58]:
%%sql
CREATE TABLE cuentas_bancarias(
    id INT GENERATED ALWAYS AS IDENTITY,
    tipo_de_cuenta VARCHAR(45) NOT NULL,
    banco VARCHAR(45) NOT NULL,
    saldo INT NOT NULL,
    id_persona INT,
    PRIMARY KEY(id),
    FOREIGN KEY(id_persona) REFERENCES personas (id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
Done.

[]

### Tabla "persona_pertenece_faccion" (6 pts)

In [54]:
%%sql
CREATE TABLE persona_pertenece_faccion(
    id_persona INT,
    id_faccion INT,
    PRIMARY KEY(id_persona,id_faccion),
    FOREIGN KEY(id_persona) REFERENCES personas(id),
    FOREIGN KEY(id_faccion) REFERENCES facciones(id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
Done.

[]

### Tabla "persona_tiene_trabajo" (6 pts)

In [66]:
%%sql
CREATE TABLE persona_tiene_trabajo(
    id_persona INT,
    id_trabajo INT,
    estado BOOL NOT NULL,
    ultima_vez_realizado TIMESTAMP NOT NULL,
    PRIMARY KEY(id_persona,id_trabajo),
    FOREIGN KEY(id_persona) REFERENCES personas(id),
    FOREIGN KEY(id_trabajo) REFERENCES trabajos(id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [67]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], (faccion))

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [68]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT 
	personas.id, 
	personas.nombre,  
	SUBSTRING(personas.apellidos,1, position(' ' in personas.apellidos)) apellido



FROM 
	facciones INNER JOIN 
		persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion INNER JOIN
			personas ON persona_pertenece_faccion.id_persona = personas.id

WHERE
	facciones.nombre='FEDRA';

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
54 rows affected.

[(813, 'Shirley', 'Harris '),
 (245, 'James', 'Deutsch '),
 (876, 'Richard', 'Hooks '),
 (7, 'Aida', 'Smith '),
 (152, 'Cynthia', 'Ash '),
 (537, 'Kimberly', 'Barlow '),
 (365, 'Harry', 'Brown '),
 (950, 'Rebecca', 'Myers '),
 (688, 'Melodie', 'Clement '),
 (303, 'Mary', 'Henkel '),
 (197, 'Kenneth', 'Chapman '),
 (133, 'Jackie', 'Nolan '),
 (465, 'Lynn', 'Alan '),
 (410, 'Jorge', 'Aldred '),
 (478, 'Nathaniel', 'Graham '),
 (106, 'John', 'Woodford '),
 (216, 'Latoya', 'Slater '),
 (744, 'Yu', 'Miller '),
 (110, 'Ethel', 'Sakoda '),
 (350, 'Gina', 'Nalevanko '),
 (109, 'Roberto', 'Babena '),
 (85, 'Melanie', 'Hinton '),
 (50, 'Traci', 'Barrios '),
 (463, 'Doris', 'Fraser '),
 (278, 'Amanda', 'Mcanally '),
 (672, 'Carol', 'Rivera '),
 (421, 'Gary', 'Tolman '),
 (632, 'Maria', 'Vick '),
 (346, 'Michael', 'Fraser '),
 (436, 'Matt', 'Martin '),
 (502, 'Elizabeth', 'Lee '),
 (874, 'John', 'Fisher '),
 (810, 'Keri', 'Holmes '),
 (865, 'David', 'Bottoms '),
 (176, 'Fernando', 'Anderson '),
 (121, 'James', 'Horton '),
 (398, 'Alicia', 'Wagner '),
 (136, 'Joanne', 'Jones '),
 (202, 'Yolande', 'Haine '),
 (668, 'Jeremy', 'Turner '),
 (985, 'Charles', 'Phillips '),
 (432, 'Dorothy', 'Noyes '),
 (802, 'Timothy', 'Black '),
 (551, 'Amber', 'Gayden '),
 (606, 'Brent', 'Gardner '),
 (445, 'Phyllis', 'Burks '),
 (451, 'Neal', 'Lemire '),
 (409, 'Keith', 'Banton '),
 (741, 'Lawerence', 'Holt '),
 (118, 'Heather', 'Wright '),
 (996, 'Julienne', 'Blackman '),
 (239, 'James', 'Jacko '),
 (492, 'Ray', 'Oneill '),
 (919, 'Albert', 'Apaez ')]

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    * 
FROM 
    *

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    * 
FROM 
    *

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    * 
FROM 
    *

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    * 
FROM 
    *

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    * 
FROM 
    *

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *