# Tarea 1 Bases de Datos 2023-1 Grupo 7

## Integrantes:
* Natalia Vega Quinteros - 201904501-6
* Oscar Villarroel Quezada- 201804615-9

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [4]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (0.5.0)
Requirement already satisfied: ipython-genutils in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.0.1)
Requirement already satisfied: prettytable in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: sqlparse in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: jedi>=0.16 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.1.4)
Requirement already satisfied: black in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (21.12b0)
Requirement already satisfied: colorama in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.4.4)
Requirement already satisfied: pygments in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: backcall in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (3.0.24)
Requirement already satisfied: traitlets>=5 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (57.4.0)
Requirement already satisfied: matplotlib-inline in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.1.3)
Requirement already satisfied: wcwidth in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: platformdirs>=2 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from black->ipython->ipython-sql) (3.1.1)
Requirement already satisfied: mypy-extensions>=0.4.3 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from black->ipython->ipython-sql) (0.4.3)
Requirement already satisfied: click>=7.1.2 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from black->ipython->ipython-sql) (8.0.3)
Requirement already satisfied: tomli<2.0.0,>=0.2.6 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from black->ipython->ipython-sql) (1.2.2)
Requirement already satisfied: pathspec<1,>=0.9.0 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from black->ipython->ipython-sql) (0.9.0)
Requirement already satisfied: pure-eval in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.1)
Requirement already satisfied: executing in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.2)
Requirement already satisfied: asttokens in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)

WARNING: You are using pip version 21.3.1; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\natyv\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: psycopg2 in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (2.9.5)

WARNING: You are using pip version 21.3.1; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\natyv\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: names in c:\users\natyv\appdata\local\programs\python\python310\lib\site-packages (0.3.0)

WARNING: You are using pip version 21.3.1; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\natyv\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

## Importar dependencias

In [2]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [3]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:9595@localhost:5432/Tarea1_BD

env: DATABASE_URL=postgresql://postgres:9595@localhost:5432/Tarea1_BD

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [4]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='Tarea1_BD',
   password="9595"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x000001E9FDD55470; dsn: 'user=postgres password=xxx dbname=Tarea1_BD host=localhost', closed: 0>

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [4]:
%%sql
CREATE TABLE facciones(
    id INT GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    PRIMARY KEY (id)
);

(psycopg2.errors.DuplicateTable) la relación «facciones» ya existe

[SQL: CREATE TABLE facciones(
    id INT GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    PRIMARY KEY (id)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "trabajos" (6 pts)

In [51]:
%%sql
CREATE TABLE trabajos(
    id INT GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    sueldo INT NOT NULL,
    PRIMARY KEY(id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
Done.

[]

### Tabla "personas" (6 pts)

In [52]:
%%sql
CREATE TABLE personas(
    id INT GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellidos VARCHAR(45) NOT NULL,
    fecha_nacimiento DATE NOT NULL,
    infectado BOOL NOT NULL,
    conyugue INT,
    PRIMARY KEY(id),
    FOREIGN KEY(id) REFERENCES personas(id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
Done.

[]

### Tabla "cuentas_bancarias" (6 pts)

In [58]:
%%sql
CREATE TABLE cuentas_bancarias(
    id INT GENERATED ALWAYS AS IDENTITY,
    tipo_de_cuenta VARCHAR(45) NOT NULL,
    banco VARCHAR(45) NOT NULL,
    saldo INT NOT NULL,
    id_persona INT,
    PRIMARY KEY(id),
    FOREIGN KEY(id_persona) REFERENCES personas (id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
Done.

[]

### Tabla "persona_pertenece_faccion" (6 pts)

In [6]:
%%sql
CREATE TABLE persona_pertenece_faccion(
    id_persona INT,
    id_faccion INT,
    PRIMARY KEY(id_persona,id_faccion),
    FOREIGN KEY(id_persona) REFERENCES personas(id),
    FOREIGN KEY(id_faccion) REFERENCES facciones(id)
);

(psycopg2.errors.DuplicateTable) la relación «persona_pertenece_faccion» ya existe

[SQL: CREATE TABLE persona_pertenece_faccion(
    id_persona INT,
    id_faccion INT,
    PRIMARY KEY(id_persona,id_faccion),
    FOREIGN KEY(id_persona) REFERENCES personas(id),
    FOREIGN KEY(id_faccion) REFERENCES facciones(id)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "persona_tiene_trabajo" (6 pts)

In [66]:
%%sql
CREATE TABLE persona_tiene_trabajo(
    id_persona INT,
    id_trabajo INT,
    estado BOOL NOT NULL,
    ultima_vez_realizado TIMESTAMP NOT NULL,
    PRIMARY KEY(id_persona,id_trabajo),
    FOREIGN KEY(id_persona) REFERENCES personas(id),
    FOREIGN KEY(id_trabajo) REFERENCES trabajos(id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [6]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], (faccion))

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** 
De la tabla obtenida del INNER JOIN entre facciones y personas (por medio de la tabla persona_pertenece_faccion), se seleccionan las que pertenecen a 'Fedra' con WHERE, luego se seleccionan columnas para el ID, Nombre y Apellido (solo el primero, hubo que investigar como separar el dato cortando el String)

In [5]:
%%sql

SELECT 
	personas.id AS "ID", 
	personas.nombre AS "Nombre",  
	SUBSTRING(personas.apellidos,1, POSITION(' ' in personas.apellidos)) "Apellido"

FROM 
	facciones INNER JOIN 
		persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion INNER JOIN
			personas ON persona_pertenece_faccion.id_persona = personas.id

WHERE
	facciones.nombre='FEDRA';

42 rows affected.

[(69, 'Norma', 'Murphy '),
 (135, 'Carrie', 'Rodriguez '),
 (456, 'Raymond', 'Jennings '),
 (348, 'Cheryl', 'Grissom '),
 (458, 'Rebekah', 'Hill '),
 (37, 'Dana', 'Her '),
 (182, 'Margaret', 'Rees '),
 (309, 'Joyce', 'Ivy '),
 (729, 'Rae', 'Massey '),
 (612, 'William', 'Hummel '),
 (163, 'Barbara', 'Avent '),
 (374, 'John', 'Wood '),
 (350, 'Elena', 'Dabney '),
 (123, 'Marion', 'Henson '),
 (233, 'Jaimie', 'Ward '),
 (457, 'Joseph', 'Shoemaker '),
 (129, 'Daisy', 'Fortner '),
 (778, 'Jeffrey', 'Harris '),
 (25, 'Lorenzo', 'Clemans '),
 (476, 'Maria', 'Ruhl '),
 (753, 'Kevin', 'Lowery '),
 (383, 'Ray', 'Rowland '),
 (42, 'Susan', 'Fisher '),
 (966, 'Nicole', 'Stclair '),
 (519, 'Beatrice', 'Gautreaux '),
 (598, 'Gloria', 'Lynn '),
 (627, 'Jason', 'Gonzalez '),
 (466, 'Mary', 'Kuehnle '),
 (272, 'Dottie', 'Gelles '),
 (815, 'Gayle', 'Medina '),
 (234, 'Catherine', 'Manus '),
 (817, 'Marvin', 'Goguen '),
 (511, 'Janet', 'Young '),
 (22, 'Jim', 'Miller '),
 (975, 'Kelly', 'Howell '),
 (90, 'Kari', 'Nolen '),
 (211, 'Mary', 'Harris '),
 (369, 'Patrick', 'Allen '),
 (345, 'Rosemary', 'Lake '),
 (545, 'Elizabeth', 'Meidl '),
 (534, 'Lori', 'Perry '),
 (690, 'Gregory', 'Martin ')]

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** Desde la tabla personas se utiliza COUNT para contar las personas que nacieron luego de 01-12-2019

In [4]:
%%sql

SELECT
	COUNT(*) AS "Cantidad"
    
FROM
	personas
    
WHERE
	fecha_nacimiento > '01-12-2019';

1 rows affected.

[(43,)]

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** Hacianedo un INNER JOIN entre personas y cuentas_bancarias se obtiene una tabla de donde se extrae ID, nombre y apellido de las personas, además de sumar el saldo de todas las cuentas que tiene cada persona con SUM. Se limita la tabla resultante con LIMIT.

In [37]:
%%sql

SELECT
	personas.id AS "ID", 
    personas.nombre AS "Nambre", 
    personas.apellidos AS "Apellido", 
    SUM(cuentas_bancarias.saldo) AS "Dinero"
    
FROM
	personas INNER JOIN cuentas_bancarias ON personas.id=cuentas_bancarias.id_persona
    
GROUP BY
	personas.id

LIMIT
	20;

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
20 rows affected.

[(5, 'Caroline', 'Brent Martin', 9007),
 (6, 'Margaret', 'Lanigan Hartry', 1369),
 (28, 'Kylee', 'Anderson Carter', 6656),
 (37, 'Michael', 'Ramirez Mack', 5939),
 (44, 'Enedina', 'Fleck Brown', 334),
 (66, 'Justin', 'Zaiser Ford', 524),
 (67, 'Randall', 'Fisk Barry', 6941),
 (69, 'Catherine', 'Mewborn Clacher', 6142),
 (76, 'Elizabeth', 'Merritt Stewart', 8841),
 (82, 'Jacqueline', 'Beaulieu Cowett', 14884),
 (94, 'Jonathan', 'Moore Nelson', 3237),
 (112, 'Elliott', 'Barthelemy Coffey', 6898),
 (113, 'Scott', 'Redman Garcia', 7959),
 (117, 'Bertha', 'Parker Dawson', 5347),
 (118, 'Dan', 'Mcmahon Wrape', 9202),
 (129, 'Mark', 'Prince Kidd', 3732),
 (131, 'Benjamin', 'Dunn Eaton', 1598),
 (133, 'Lawrence', 'Martinez Dupre', 8077),
 (140, 'Michael', 'Crawford Latham', 5058),
 (153, 'Noe', 'Brandi Sickles', 4084)]

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** Se hace INNER JOIN entre facciones, persona_pertenece_faccion y persona_tiene_trabajo. De la tabla resultante,  agrupando por  el nombre de cada facción (GROUP BY), con COUNT se cuentan las persona que tienen trabajo, pero solo las que tienen estado true y ultima vez realizado antes de la fecha 'X' que en este caso es 2020-01-09 03:14:07. Notar que la fecha está en formato de timestamp.

In [39]:
%%sql

SELECT 
    facciones.nombre AS "Facción", 
    COUNT(persona_tiene_trabajo.estado)"Cantidad de trabajadores"
    
FROM
	facciones INNER JOIN persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion 
        INNER JOIN persona_tiene_trabajo ON persona_tiene_trabajo.id_persona = persona_pertenece_faccion.id_persona
    
WHERE
	persona_tiene_trabajo.estado=true AND 
    persona_tiene_trabajo.ultima_vez_realizado < '2020-01-09 03:14:07'

GROUP BY 
	facciones.nombre;

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
5 rows affected.

[('Pythonia', 1),
 ('MaCdonia', 1),
 ('FEDRA', 3),
 ('Luciérnagas', 2),
 ('Carroñeros', 1)]

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** Se hace INNER JOIN entre facciones, persona_pertenece_faccion y personas. De la tabla resultante, agrupando por  el nombre de cada facción (GROUP BY), con COUNT se cuentan las persona que tienen el atributo "infectado" con valor true.

In [40]:
%%sql

SELECT 
    facciones.nombre AS "Facción", 
    COUNT(personas.infectado)"Personas infectadas"
    
FROM
	facciones INNER JOIN persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion 
        INNER JOIN personas ON personas.id = persona_pertenece_faccion.id_persona
    
WHERE
	personas.infectado=true
    
GROUP BY 
	facciones.nombre;

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
6 rows affected.

[('JavaScriptia', 31),
 ('Luciérnagas', 25),
 ('Pythonia', 24),
 ('MaCdonia', 29),
 ('FEDRA', 22),
 ('Carroñeros', 17)]

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:**

In [9]:
SELECT 
    aux.faccion,
	aux.trabajo
    
	
FROM(
    SELECT DISTINCT ON (facciones.nombre)
		facciones.nombre AS faccion, 
        trabajos.nombre AS trabajo, 
        COUNT(facciones.nombre) AS n_trabajadores
    
    FROM
		
    	facciones INNER JOIN persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
    		INNER JOIN persona_tiene_trabajo ON persona_pertenece_faccion.id_persona = persona_tiene_trabajo.id_persona
    			INNER JOIN trabajos ON persona_tiene_trabajo.id_trabajo = trabajos.id
    
    GROUP BY
    	facciones.nombre,
    	trabajos.nombre
    
    ORDER BY
    	facciones.nombre,
    	n_trabajadores DESC
    
) AS aux

GROUP BY
    	aux.faccion,
    	aux.trabajo

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
6 rows affected.

[('MaCdonia', 'Cremador'),
 ('Carroñeros', 'Limpieza'),
 ('Pythonia', 'Cajero'),
 ('Luciérnagas', 'Científico'),
 ('JavaScriptia', 'Cremador'),
 ('FEDRA', 'Profesor')]

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** Se hace INNER JOIN con las tablas facciones, persona_pertenece_faccion y cuentas_bancarias. De la tabla resultante, agrupando por el nombre de cada facción (GROUP BY), con SUM se suman los saldos de todas la cuentas bancarias de las persona de cada facción.

In [33]:
%%sql

SELECT 
    facciones.nombre AS "Facción", 
    SUM(cuentas_bancarias.saldo)"Saldo"
    
FROM
	facciones INNER JOIN persona_pertenece_faccion ON persona_pertenece_faccion.id_faccion = facciones.id
        INNER JOIN cuentas_bancarias ON persona_pertenece_faccion.id_persona = cuentas_bancarias.id_persona
    
GROUP BY 
	facciones.nombre;

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
6 rows affected.

[('JavaScriptia', 25129),
 ('Luciérnagas', 35765),
 ('Pythonia', 30723),
 ('MaCdonia', 62279),
 ('FEDRA', 22292),
 ('Carroñeros', 10746)]

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** Desde la tabla cuentas_bancarias, agrupando por el nombre de cada banco (GROUP BY), se cuentan las ID de las distintas personas que pertenecen a cada banco (COUNT) y se suman sus saldos (SUM).

In [42]:
%%sql

SELECT 
    banco AS "Banco", 
    COUNT(id_persona)"Cantidad", 
    SUM(saldo)"Saldo"
    
FROM
	cuentas_bancarias
    
GROUP BY 
    banco;

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
10 rows affected.

[('Banco Consorcio S.A', 12, 67011),
 ('Banco de la Nación S.A', 15, 74033),
 ('Banco Santander SpA', 9, 36896),
 ('Banco Pythonia S.A', 10, 49896),
 ('Banco Estado SpA', 15, 87388),
 ('Banco BBVA', 9, 58347),
 ('FedraBank S.A', 12, 49979),
 ('Banco BCI SpA', 7, 31177),
 ('Banco Pedrito Pascal SpA', 14, 67704),
 ('Banco Scotiabank', 17, 91129)]

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** Esta consulta es estructuralmente similar a la consulta 6. En primer lugar, se obtiene una tabla que relaciona las facciones con las cuentas bancarias mediante INNER JOIN anidado, se agrupa por facciones y el banco de las cuentas bancarias, y se ordenan (con ORDER BY) de mayor a menor según la cantidad de trabajadores, para que quede solo banco con más trabajadores en la primera según cada facción. De estas filas, se distingue solo la primera (con DISTINCT ON). Finalmente, de las tablas obtenidas anteriormente se seleccionan solo las facciones y el banco.

In [5]:
%%sql

SELECT 
    aux.faccion,
	aux.banco
	
FROM(
	SELECT DISTINCT ON (facciones.nombre)
		facciones.nombre AS faccion, 
        cuentas_bancarias.banco, 
        COUNT(facciones.nombre) AS n_trabajadores
    
    FROM
		
    	facciones INNER JOIN persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
    		INNER JOIN cuentas_bancarias ON persona_pertenece_faccion.id_persona = cuentas_bancarias.id_persona
    			
    
    GROUP BY
    	facciones.nombre,
    	cuentas_bancarias.banco
    
    ORDER BY
    	facciones.nombre,
    	n_trabajadores DESC
    
) AS aux

GROUP BY
    	aux.faccion,
    	aux.banco

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
6 rows affected.

[('Pythonia', 'Banco Estado SpA'),
 ('Luciérnagas', 'Banco BCI SpA'),
 ('MaCdonia', 'Banco Pedrito Pascal SpA'),
 ('FEDRA', 'FedraBank S.A'),
 ('JavaScriptia', 'Banco Estado SpA'),
 ('Carroñeros', 'Banco Santander SpA')]

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** En primer lugar, se obtienen las relaciones entre las personas y las facciones, por medio de solo las ID haciendo INNER JOIN entre personas y persona_pertenece_faccion. Luego, se agrupan las columnas por el ID de la persona, contando la cantidad de veces que aparece esa ID, luego si esa cuenta es mayor a 1, significa que la persona pertenece a más de una facción y se seleccionan ID, Nombre y el Apellido (obtenido cortando el dato para recuperar solo el segundo apellido).

In [45]:
%%sql

SELECT 
    personas.id AS "ID", 
    personas.nombre AS "Nombre",
    SUBSTRING(personas.apellidos,POSITION(' ' in personas.apellidos), LENGTH(personas.apellidos) - POSITION(' ' in personas.apellidos))"Apellido"
    -- , COUNT(persona_pertenece_faccion.id_faccion)
    
FROM
	personas INNER JOIN persona_pertenece_faccion ON personas.id = persona_pertenece_faccion.id_persona

GROUP BY 
    personas.id

HAVING
	COUNT(persona_pertenece_faccion.id_faccion) > 1;

 * postgresql://postgres:***@localhost:5432/Tarea1_BD
31 rows affected.

[(969, 'Patricia', ' William'),
 (380, 'Lawrence', ' Roma'),
 (130, 'John', ' Mulliga'),
 (364, 'Robert', ' Clar'),
 (941, 'Diana', ' Coomb'),
 (135, 'Page', ' Jone'),
 (838, 'Mary', ' Endicot'),
 (717, 'Chad', ' Schmid'),
 (650, 'Murray', ' Belze'),
 (842, 'Tracey', ' Bowthorp'),
 (104, 'Jenny', ' Dunmir'),
 (466, 'Annie', ' Hick'),
 (444, 'Alfred', ' Russel'),
 (339, 'Francis', ' Owen'),
 (47, 'Stephen', ' Gros'),
 (854, 'Frances', ' Brow'),
 (996, 'Kelli', ' Burrow'),
 (192, 'Michael', ' Hernande'),
 (613, 'Richard', ' Phillip'),
 (98, 'Joseph', ' Amo'),
 (674, 'Ida', ' Mizel'),
 (235, 'Aurelio', ' Sturgi'),
 (659, 'Theodore', ' Graf'),
 (627, 'Belinda', ' Henso'),
 (172, 'Erlinda', ' Presle'),
 (28, 'Kylee', ' Carte'),
 (542, 'Aliza', ' Brow'),
 (295, 'Anthony', ' Rya'),
 (955, 'Mary', ' Buehlma'),
 (793, 'Rosa', ' William'),
 (995, 'Billy', ' Wilso')]

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *